<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>Document</title>
</head>
<body>
    <div style="background-color: #FFBCE0;">

        <nav style="display: flex;">
            
            <h1 style="color: #d44179;font-size: 40px;margin: 10px;margin-left: 30px;">hair texture</h1>
            <ul>
                <li>
                    <a href="home.html" class="li" >home</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="shop.html">shop</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="about.html">about us</a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="cotact.html">contact us</a>
                </li>
            </ul>
            <select name="city" id="city" class="english">
                <option value="english">english</option>
                <option value="persian">فارسی</option>
            </select>
        </nav>    
    </div>
    <div style="display: flex;">
        <div>
            <h1 style="color: #d44179;font-size: 40px;margin-left: 700px;">contact us</h1>
        </div>
        <div>
            <img src="/assets/image/type1.png" alt="error" style="margin-top: 300px;margin-left: -500px;">
        </div>
        <div>
            
        </div>
    </div>
</body>
</html>