<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>hair texture</title>
</head>
<body>
    <div style="background-color: #fcbdd5;">
        <nav style="display: flex; justify-content:space-between; align-items: center;">
                    
            <h1 style="color: #d44179;font-size: 40px;margin: 10px;margin-left: 30px;">hair texture</h1>
            <ul class="menu">
                <li class="menu-item">
                    <a href="home.html" id="li">home</a>
                </li>
                <li class="menu-item">

                    <a href="shop.html">shop</a>
                </li>
                <li class="menu-item">

                    <a href="about.html">about us</a>
                </li>
                <li class="menu-item">

                    <a href="cotact.html">contact us</a>
                </li>
            </ul>

            <select name="city" id="city" class="english">
                <option value="english">english</option>
                <option value="persian">فارسی</option>
            </select>
        </nav>    
    </div>
            <h1 style="color: #d44179;font-size: 40px;">home</h1>
    <div style="display: flex; position: relative;">
        <div>
            <img src="/assets/image/2-removebg-preview (2).png" alt="error">
        </div>
        <div>
            <div>
            <a href="login.html">
                <button style="border-radius: 10px;background-color: #EE86AE;color: #d44179 ;font-size: 32px;width: 250px;height: 60px;">log in</button>
            </a>
            </div>
            <div>
                <a href="types.html">
                    <button style="border-radius: 10px;background-color: #EE86AE;color: #d44179 ;font-size: 32px;width: 250px;height: 60px;">types</button>
                </a>    
            </div>
        </div>
    </div>
</body>
</html>