<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>hair texture</title>
</head>
<body>
    <div>
        <nav style="display: flex; justify-content:space-between; align-items: center;">
            
            <h1 style="color: #ECCEDA;font-size: 40px;margin: 10px;margin-left: 30px;text-shadow: 3px 3px 3px rgb(75, 73, 73);">hair texture</h1>
            <ul class="menu">
                <li class="menu-item">
                    <a href="index.html" id="li">home</a>
                </li>
                <li class="menu-item">

                    <a href="shop.html">shop</a>
                </li>
                <li class="menu-item">

                    <a href="about.html">about us</a>
                </li>
                <li class="menu-item">

                    <a href="cotact.html">contact us</a>
                </li>
            </ul>

            <select name="city" id="city" class="english">
                <option value="english">english</option>
                <option value="persian">فارسی</option>
            </select>
        </nav>    
    </div>
    <h1 style="color: #ECCEDA;font-size: 40px;text-align: center; text-shadow: 2px 2px 2px rgb(75, 73, 73); padding: 3px;">home</h1>
    <div class="container" style="display: flex;justify-content: space-around; align-items: center; position: relative; height: 92.3vh;" >
        <div style="font-size: 54px;color: #FFFFFF; display: flex; flex-direction: column;">
            <p>Hair from you <br>
            style it with me</p>
            <a href="login.html">
                <button class="button"> log in & sing-up</button>
            </a>
            <a href="types.html">
                <button class="button">types</button>
            </a>
        </div>
        <div>
            <img class="image" src="/assets/image/baft-moo8-removebg-preview.png" alt="error" style="width: 750px; height: 550px;opacity: 0.9;">
        </div>
    </div>


</body>
</html>