<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>Document</title>
</head>
<body>
    <div style="border: 2px solid #d44179; background-color: #e7b2c6;">
        <nav style="display: flex; justify-content:space-between; align-items: center;">
            
            <h1 style="color: #d44179;font-size: 40px;margin: 10px;margin-left: 30px;text-shadow: 2px 2px 2px rgb(75, 73, 73);">hair texture</h1>
            <ul class="menu">
                <li class="menu-item">
                    <a href="index.html" id="li">home</a>
                </li>
                <li class="menu-item">

                    <a href="shop.html">shop</a>
                </li>
                <li class="menu-item">

                    <a href="about.html">about us</a>
                </li>
                <li class="menu-item">

                    <a href="cotact.html">contact us</a>
                </li>
            </ul>

            <select name="city" id="city" class="english">
                <option value="english">english</option>
                <option value="persian">فارسی</option>
            </select>
        </nav>    
    </div><br>
    <h1 style="color: #d44179;font-size: 40px;text-align: center;">types</h1><br>
    <br>
    <div style="display: flex; flex-direction: column;">
        <div style="display: flex; justify-content: space-evenly;">
            <div class="div">
                <img src="/assets/image/afro.jpg" alt="afro"><br>
                <label for="afro">afro</label>
                <input type="checkbox" value="option1" id="checkbox1" name="checkbox1">
            </div>
            <div class="div">
                <img src="/assets/image/brzili.jpg" alt="brzili"><br>
                <label for="brzili">brzili</label>
                <input type="checkbox" value="option1" id="checkbox2" name="checkbox2">
            </div>
            <div class="div">
                <img src="/assets/image/holandi.jpg" alt="holandi"><br>
                <label for="holandi">holandi</label>
                <input type="checkbox" value="option1" id="checkbox3" name="checkbox3">
            </div>
        </div>    
        <div style="display: flex; justify-content: space-evenly;">
            <div class="div">
                <img src="/assets/image/jambo.jpg" alt="jambo"><br>
                <label for="jambo">jambo</label>
                <input type="checkbox" value="option1" id="checkbox4" name="checkbox4">
            </div>
            <div class="div">
                <img src="/assets/image/tel2.jpg" alt="tel"><br>
                <label for="tel">tel</label>
                <input type="checkbox" value="option1" id="checkbox5" name="checkbox5">
            </div>
            <div class="div">
                <img src="/assets/image/exention.jpg" alt="exention"><br>
                <label for="exention">exention</label>
                <input type="checkbox" value="option1" id="checkbox6" name="checkbox6">
            </div>
        </div>    
    </div>
    <br>
    <br>
    <div style="width: 70%; margin-left: 250px;">
        <div style="background-color: blue;">
            taghvim
        </div>
        <div style="background-color: aqua;">
            <div style="display: flex;">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 8L8 16M8 8L16 16" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>    
                <p style="background-color: brown;">s afro</p>
            </div>
            <div style="display: flex;">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M16 8L8 16M8 8L16 16" stroke="#000000" stroke-width="2" stroke-linecap="round"></path> </g></svg>    
                <p style="background-color: chartreuse;">holandi</p>
            </div>
        </div>
    </div>
</body>
</html>