<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/home.css">
    <link rel="stylesheet" href="/styles/reset.css">
    <title>Document</title>
</head>
<body>
    <div style="border: 2px solid #d44179; background-color: #e7b2c6;">
        <nav style="display: flex; justify-content:space-between; align-items: center;">
            
            <h1 style="color: #d44179;font-size: 40px;margin: 10px;margin-left: 30px;text-shadow: 2px 2px 2px rgb(75, 73, 73);">hair texture</h1>
            <ul class="menu">
                <li class="menu-item">
                    <a href="index.html" id="li">home</a>
                </li>
                <li class="menu-item">

                    <a href="shop.html">shop</a>
                </li>
                <li class="menu-item">

                    <a href="about.html">about us</a>
                </li>
                <li class="menu-item">

                    <a href="cotact.html">contact us</a>
                </li>
            </ul>

            <select name="city" id="city" class="english">
                <option value="english">english</option>
                <option value="persian">فارسی</option>
            </select>
        </nav>    
    </div>
    <h1 style="color: #d44179;font-size: 40px;text-align: center;">types</h1>
</body>
</html>